<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Profesores</title>
</head>

<body>
    <h1>Profesores</h1>
    <ul>
        {% for p in profesores %}
        <li>
            {{ p.nombre }} {{ p.apellido }}
            <a href="{% url 'editarProfesor' p.id %}">Editar</a>
            <a href="{% url 'eliminarProfesor' p.id %}">Eliminar</a>
        </li>
        {% endfor %}
    </ul>
    <br>
    <a href="{% url 'inicio' %}">Inicio</a>
</body>

</html>
